{% extends "account/base.html" %}

{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock head_title %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'core/css/signup.css' %}">
{% endblock head %}

{% block content %}
<div class="container">

  <form class="form-signin signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    <h2 class="form-signin-heading">{% trans "Sign Up" %}</h2>
    <label for="id_email" class="sr-only">E-mail:</label>
    <input type="email" name="email" class="form-control" placeholder="E-mail address" required id="id_email"/>
    <label for="id_username" class="sr-only">Username:</label>
    <input type="text" name="username" class="form-control" placeholder="Username" autofocus="autofocus" minlength="1" maxlength="150" required id="id_username"/>
    <label for="id_password1" class="sr-only">Password:</label>
    <input type="password" name="password1" class="form-control" placeholder="Password" required id="id_password1"/>
    <label for="id_password2" class="sr-only">Password (again):</label>
    <input type="password" name="password2" class="form-control" placeholder="Password (again)" required id="id_password2"/>
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button type="submit" class="btn btn-lg btn-info btn-block">{% trans "Sign Up" %} &raquo;</button>

    <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
  </form>

</div>
{% endblock content %}
