main {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.navbar {
  background-color: #20bfd2;
  font-family: 'Maven Pro', sans-serif;

  /* materialize css navbar shadowing */
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-family: 'Raleway', serif;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

.cash {
  color: green;
}

hr {
  border-color: black;
}

.btn-primary, .btn-primary:visited {
    background: #20bfd2 !important;
    border-color: #20bfd2 !important;
}

.btn-primary:hover, .btn-primary:active {
  background: #008C9F !important;
  border-color: #008C9F !important;
}

.btn-primary:focus, .btn-primary:active {
    box-shadow: none !important;
}

@media only screen and (max-width: 576px) {
  /* xs */
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    margin: 4rem;
  }
}

@media only screen and (max-width: 768px) and (min-width: 577px) {
  /* sm */
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
}

@media only screen and (max-width: 992px) and (min-width: 769px) {
  /* md */
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 993px) {
  /* lg */
  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
  }
}

@media only screen and (min-width: 1201px) {
  /* xl*/
  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
  }
}
